<!DOCTYPE html>
  <head lang="en">
    <title>Create New Peep</title>
  </head>
  <body>
    <h1>Create New Peep</h1>
    {% if errors %}
        <p class="t-errors">
            There were errors with your submission: {{errors}}
        </p>
        {% endif%}
    <form action="/chitter/posts" method="post">
    <p>
        <label for="content">Content</label>
        <input type="text" name="content" id="content">
    </p>
    <p>
        <label for="user_id">User ID</label>
        <input type="int" name="user_id" id="user_id">
    </p>
    <input type="submit" value="Create Peep">
</form>
  </body>
</html>